
:where(body[theme="default"], body:not([theme])) /** Start CSS Grid System**/

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    :where(body[theme="default"], body:not([theme])) /* For large phones or small tablets : */
    .col-sm-1 {width: 8.33%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-2 {width: 16.66%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-3 {width: 25%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-4 {width: 33.33%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-5 {width: 41.66%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-6 {width: 50%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-7 {width: 58.33%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-8 {width: 66.66%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-9 {width: 75%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-10 {width: 83.33%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-11 {width: 91.66%;}
    :where(body[theme="default"], body:not([theme])) .col-sm-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    :where(body[theme="default"], body:not([theme])) /* For tablets: */
    .col-md-1 {width: 8.33%;}
    :where(body[theme="default"], body:not([theme])) .col-md-2 {width: 16.66%;}
    :where(body[theme="default"], body:not([theme])) .col-md-3 {width: 25%;}
    :where(body[theme="default"], body:not([theme])) .col-md-4 {width: 33.33%;}
    :where(body[theme="default"], body:not([theme])) .col-md-5 {width: 41.66%;}
    :where(body[theme="default"], body:not([theme])) .col-md-6 {width: 50%;}
    :where(body[theme="default"], body:not([theme])) .col-md-7 {width: 58.33%;}
    :where(body[theme="default"], body:not([theme])) .col-md-8 {width: 66.66%;}
    :where(body[theme="default"], body:not([theme])) .col-md-9 {width: 75%;}
    :where(body[theme="default"], body:not([theme])) .col-md-10 {width: 83.33%;}
    :where(body[theme="default"], body:not([theme])) .col-md-11 {width: 91.66%;}
    :where(body[theme="default"], body:not([theme])) .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    :where(body[theme="default"], body:not([theme])) /* For small laptops */
    .col-lg-1 {width: 8.33%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-2 {width: 16.66%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-3 {width: 25%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-4 {width: 33.33%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-5 {width: 41.66%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-6 {width: 50%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-7 {width: 58.33%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-8 {width: 66.66%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-9 {width: 75%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-10 {width: 83.33%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-11 {width: 91.66%;}
    :where(body[theme="default"], body:not([theme])) .col-lg-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
    :where(body[theme="default"], body:not([theme])) /* For wide laptops */
    .col-xl-1 {width: 8.33%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-2 {width: 16.66%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-3 {width: 25%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-4 {width: 33.33%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-5 {width: 41.66%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-6 {width: 50%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-7 {width: 58.33%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-8 {width: 66.66%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-9 {width: 75%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-10 {width: 83.33%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-11 {width: 91.66%;}
    :where(body[theme="default"], body:not([theme])) .col-xl-12 {width: 100%;}
}

@media only screen and (min-width: 1920px) {
    :where(body[theme="default"], body:not([theme])) /* For desktops: */
    .col-1 {width: 8.33%;}
    :where(body[theme="default"], body:not([theme])) .col-2 {width: 16.66%;}
    :where(body[theme="default"], body:not([theme])) .col-3 {width: 25%;}
    :where(body[theme="default"], body:not([theme])) .col-4 {width: 33.33%;}
    :where(body[theme="default"], body:not([theme])) .col-5 {width: 41.66%;}
    :where(body[theme="default"], body:not([theme])) .col-6 {width: 50%;}
    :where(body[theme="default"], body:not([theme])) .col-7 {width: 58.33%;}
    :where(body[theme="default"], body:not([theme])) .col-8 {width: 66.66%;}
    :where(body[theme="default"], body:not([theme])) .col-9 {width: 75%;}
    :where(body[theme="default"], body:not([theme])) .col-10 {width: 83.33%;}
    :where(body[theme="default"], body:not([theme])) .col-11 {width: 91.66%;}
    :where(body[theme="default"], body:not([theme])) .col-12 {width: 100%;}
}


:where(body[theme="default"], body:not([theme])) [class*="col-"] {
    float: left;
    padding: var(--space-xxxs);
    border: 0;
}
:where(body[theme="default"], body:not([theme])) .row:after {
    content: "";
    clear: both;
    display: table;
}
