<template id="form-template">
    <form class="holi-form" novalidate>
        <div class="form-fields">
            <slot name="fields"></slot>
        </div>
        <div class="form-actions">
            <button type="submit" data-role="submit" data-invalid="@{formInvalid}">@{submitLabel}</button>
            <button type="reset" data-role="reset">Reset</button>
            <slot name="actions"></slot>
        </div>
        <div class="form-errors" data-role="errors" data-show="@{submitError}">
            <slot name="errors">@{submitError}</slot>
        </div>
    </form>
</template>
