<template id="refresh-template">
    <section class="holi-refresh" data-state="idle" tabindex="0">
        <div class="holi-refresh__handle" data-role="handle" aria-hidden="true">
            <div class="holi-refresh__icon">
                <span class="holi-refresh__icon-arrow"></span>
                <span class="holi-refresh__icon-spinner"></span>
            </div>
            <div class="holi-refresh__label" data-role="label">Pull to refresh</div>
            <div class="holi-refresh__progress">
                <span class="holi-refresh__progress-bar" data-role="progress"></span>
            </div>
        </div>
        <div class="holi-refresh__content" data-role="content"></div>
    </section>
</template>
